Options -MultiViews
RewriteEngine On
RewriteBase /php-museums/src/api/

# Listado de museos con paginación
RewriteRule ^museums/([0-9]+)/?$ museums.php?page=$1 [L,QSA]

# Museo individual
RewriteRule ^museum/([0-9]+)/?$ museum.php?id=$1 [L,QSA]
